<?xml version="1.0" encoding="UTF-8"?>
<!-- status:error mean ONLY show log4j kernel's error log in console-->
<Configuration status="error" monitorInterval="5">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd' 'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">src/main/resources/logs/</Property>
    </Properties>

    <!-- Define the appenders -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <!-- logger settings that controls which log to write to and the pattern-->
        <RollingFile name="lmsapilog"
                fileName="${APP_LOG_ROOT}/lmsapi.log"
                filePattern="${APP_LOG_ROOT}/lmsapi-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

        <!-- logger settings that controls which log to write to and the pattern-->
        <!-- <RollingFile name="errorLogger" 
                    fileName="${APP_LOG_ROOT}/lmsapierror.log" 
                    filePattern="${APP_LOG_ROOT}/lmsapiError-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile> -->
    </Appenders>

    <!-- Define the loggers -->
    <Loggers>        
        <!-- Root Logger tells us what level of log to write to each rolling file defined above-->
        <Root level="trace">
            <AppenderRef ref="lmsapilog" level="info" />
            <AppenderRef ref="lmsapilog" Level="error" />
            <!--<AppenderRef ref="lmsapilog" Level="debug" />-->
            <AppenderRef ref="Console" Level="info" /> 
            <AppenderRef ref="Console" Level="error" /> 
        </Root>
    </Loggers>
</Configuration>